@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v3-latin_cyrillic-regular.woff2") format("woff2");
}
body {
  background-color: antiquewhite;
}
h1 {
}

.container {
  margin: 400px auto;
  border-radius: 10px;
  background-color: rgb(192, 192, 192);
  box-shadow: 0 0 5px 1px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
}
.card {
  position: relative;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1px 1px;
}
.card:first-child {
  margin-left: 40px;
}
.card:last-child {
  margin-right: 40px;
}
.card-top {
  background-color: rgb(247, 242, 242);
  z-index: 2;
  position: relative;
  transform: translate(0, 0);
  transition: 1s;
}

.card-bottom {
  background-color: rgb(124, 124, 207);
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 0px;
  transform: translate(0, 0);
  transition: 1s;
}

.cards:hover.card-top {
  transform: translate(0px, -87.5px);
  transition: 1s;
}

.cards:hover.card-top + .card-bottom {
  transform: translate(0px, 87.5px);
  transition: 1s;
}
.ava {
  max-width: 100px;
  margin: 10px 10px;
  border-radius: 50%;
}
h1 {
  font-family: Inter;
  font-size: 20px;
}
.text {
  font-family: Inter;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 300px;
  }
  .cards {
    width: 70px;
    height: 70px;
}
.ava {
  max-width: 50px;
  
}
h1 {
  font-size: 7px;
}
}